*.DS_Store
npm-debug.log

# symlink packages
packages/meteor-autoform-googleplace
packages/meteor-autoform-pikaday
packages/meteor-autoform-datetimepicker
# [old symlink names]
packages/lukemadera_autoform-googleplace
packages/lukemadera_autoform-pikaday
packages/notorii_autoform-datetimepicker