.lm-social-share-basic-vertical .lm-social-share-cont {
  display: block;
  max-width: 200px;
}
.lm-social-share-basic-vertical .lm-social-share-cont .lm-social-share-btn, .lm-social-share-basic-vertical .lm-social-share-cont .lm-social-share-url-input {
  display: block;
  width: 100%;
}